<configuration>

    <timestamp key="byDay" datePattern="yyyyMMdd"/>
    <timestamp key="byMonth" datePattern="yyyyMM"/>
    <timestamp key="byYear" datePattern="yyyy"/>

    <appender name="SENSOR_TEMPERATURE" class="org.aix.logback.InfluxDbAppender">
        <influxDbUrl>http://192.168.59.103</influxDbUrl>
        <influxDbPort>8086</influxDbPort>
        <influxDbLogin>root</influxDbLogin>
        <influxDbPassword>root</influxDbPassword>
        <serieConfig>
            <database>testdb</database>
            <version>0.8</version>
            <!--
            <name>machine.%X{machine}.type.%X{type} temperature_${byMonth}</name>
            -->
            <name>sensors</name>
        </serieConfig>
    </appender>

    <logger name="sensorTemperature" level="info">
        <appender-ref ref="SENSOR_TEMPERATURE" />
    </logger>

</configuration>
